<nav class="fixed">
    <a href="/" class="logo">
      {%- include logos/cincobola.svg class="logo-icon" -%}
      <h1>Cinco Bola</h1>
    </a>
  <ul>
    <li>
      <a
        {% if page.url == "/shops/" %} aria-current="page" href="#"
        {% else %} href="/shops"
        {% endif %}>
        <em>Lojas</em>
      </a>
    </li>
    <li>
      <a
        {% if page.url == "/console/" %} aria-current="page" href="#"
        {% else %} href="/login"
        {% endif %}>
        <strong>Console</strong>
      </a>
    </li>
  </ul>
</nav>
