<nav>
  <small>
    <a href="/" class="logo">
      {%- include logos/cincobola.svg -%}
      <span class="title">Cinco Bola</span>
    </a>
  </small>
  <ul>
    <li>
      <a {% if page.url == "/shops/" %} aria-current="page" {% endif %} href="/shops" >Lojas </a>
    </li>
    <li>
      <a {% if page.url == "/console/" %} aria-current="page" {% endif %} href="/login" >Console </a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" >Contato </a>
    </li>
  </ul>
  <div>
    <a
      href="javascript:;"
      class="reset-scheme"
      onclick="resetScheme()"
      style="visibility: hidden"
      aria-label="Redefinir tema"
      title="Redefinir tema"
    >
      <span class="iconify nav-icon" data-icon="mdi:restore"></span>
    </a>
    <a
      href="javascript:;"
      class="toggle-scheme dark"
      onclick="toggleScheme()"
      aria-label="Alternar tema"
      hidden
    >
      <span class="iconify nav-icon" data-icon="mdi:weather-night"></span>
    </a>
    <a
      href="javascript:;"
      class="toggle-scheme light"
      onclick="toggleScheme()"
      aria-label="Alternar tema"
    >
      <span class="iconify nav-icon" data-icon="mdi:weather-sunny"></span>
    </a>
  </div>
</nav>
<nav>
  <p>
    <small>© oi do boa noite da Helen</small>
  </p>
  <p>
  <small><a href="https://github.com/Misterio77/cincobola">Esse site</a> é 100% software livre</small>
  </p>
</nav>
<script>
  // Elementos
  const resetSchemeButton = document.querySelector(".reset-scheme");
  const lightSchemeButton = document.querySelector(".toggle-scheme.light");
  const darkSchemeButton = document.querySelector(".toggle-scheme.dark");

  // Alterna o local storage e atualiza o tema
  function toggleScheme() {
    if (document.body.classList.contains("dark")) {
      localStorage.setItem("preferred-scheme", "light");
    } else {
      localStorage.setItem("preferred-scheme", "dark");
    }
    updateScheme();
  }
  // Remove o local storage e atualiza o tema
  function resetScheme() {
    localStorage.removeItem("preferred-scheme");
    updateScheme();
  }

  // Atualiza a classe do body e seta a visibilidade do botão reset
  // de acordo com a preferência
  function updateScheme() {
    var dark = false;

    // Verificar se tem uma preferência explicita já setada na localstorage
    const explicit = localStorage.getItem("preferred-scheme");
    // Se tiver
    if (explicit) {
      // true para dark, false para qqr outro
      dark = (explicit == "dark");
      // Mostrar o botão de reset
      resetSchemeButton.style.visibility = "visible";
    } else {
      // true para dark, false para light ou auto
      dark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      // Esconder o botão de reset
      resetSchemeButton.style.visibility = "hidden";
    }

    // Caso seja decidido que é pra usar o escuro
    if (dark) {
      // Adicionar classe dark
      document.body.classList.add("dark");
      // Esconder botão de sol, mostrar botão de lua
      lightSchemeButton.hidden = true;
      darkSchemeButton.hidden = false;
    // Caso contrário
    } else {
      // Remover classe dark
      document.body.classList.remove("dark");
      // Esconder botão de lua, mostrar botão de sol
      darkSchemeButton.hidden = true;
      lightSchemeButton.hidden = false;
    }
  }

  // Troca inicial de tema
  updateScheme();
  // Adicionar listener pra reagir a mudanças
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", updateScheme);
</script>
