---
---

:root {
  --border-radius: 5px;
  --box-shadow: 2px 2px 10px;
  --font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px;

  --color: #4d2364;
  --color-accent: #4d236415;
  --color-bg: #eee;
  --color-bg-secondary: #999;
  --color-shadow: #bbb;
  --color-text: #000;
  --color-text-secondary: #777;
  @media (prefers-color-scheme: dark) {
    --color: #b88bdd;
    --color-accent: #b88bdd4f;
    --color-bg: #222;
    --color-bg-secondary: #555;
    --color-shadow: #333;
    --color-text: #f7f7f7;
    --color-text-secondary: #aaa;
  }
}

.caaso {
  --color: #a67e04;
  --color-accent: #a67e0415;
  @media (prefers-color-scheme: dark) {
    --color: #fdd354;
    --color-accent: #fdd3544f;
  }
}

.federupa {
  --color: #9f0000;
  --color-accent: #9f000015;
  @media (prefers-color-scheme: dark) {
    --color: #d74045;
    --color-accent: #d740454f;
  }
}

/* MVP.css v1.7.4 - https://github.com/andybrewer/mvp */
/* Modified by Gabriel Fontes where marked by comments, also converted to SCSS */

article aside {
  background: var(--color-accent);
  border-left: 4px solid var(--color);
  padding: 0.01rem 0.8rem;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin: 0;
  overflow-x: hidden;
  padding: 0;

  svg {
    path,
    polygon {
      fill: var(--color-text);
    }
  }
}

footer,
header,
main {
  margin: 0 auto;
  max-width: var(--width-content);
  padding: 3rem 1rem;
}

hr {
  background-color: var(--color-bg-secondary);
  border: none;
  height: 1px;
  margin: 4rem 0;
  width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-important);

  img {
    max-width: 100%;
  }
}

article img {
  max-width: 100%;
}

section {
  pre {
    overflow: auto;
  }

  aside {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--width-card);

    &:hover {
      box-shadow: var(--box-shadow) var(--color-bg-secondary);
    }
    /* Invert colors on full cards */
    &.inverted {
      background: var(--color);
      color: var(--color-bg);

      svg {
        path,
        polygon {
          fill: var(--color-bg);
        }
      }
    }
  }
}

[hidden] {
  display: none;
}

article header,
div header,
main header {
  padding-top: 0;
}

header {
  text-align: var(--justify-important);

  a {
    b,
    em,
    i,
    strong {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      @media (max-width: 520px) {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
      }
    }
  }

  nav img {
    margin: 1rem 0;
  }
}

section header {
  padding-top: 0;
  width: 100%;
}

/* Nav */

nav {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 0.2rem;
      position: relative;
      text-align: left;

      &:hover ul {
        display: block;
      }

      ul {
        background: var(--color-bg);
        border: 1px solid var(--color-bg-secondary);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow) var(--color-shadow);
        display: none;
        height: auto;
        left: -2px;
        padding: 0.5rem 1rem;
        position: absolute;
        top: 1.7rem;
        white-space: nowrap;
        width: auto;
        z-index: 1;

        &::before {
          /* fill gap above to make mousing over them easier */
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -0.5rem;
          height: 0.5rem;
        }

        li {
          display: block;

          a {
            display: block;
          }
        }
      }
    }
  }

  /* Adjust navbar logo position and size */
  .logo {
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 0.2em;
    }

    h1 {
      font-size: 1.8em;
    }
    @media (max-width: 520px) {
      h1 {
        display: none;
      }
    }
  }

  /* Fixed navbar */
  &.fixed {
    background: var(--color-bg);

    z-index: 100;
    position: fixed;
    width: 90%;
    left: 0;
    top: 0;
    padding: 0 5%;

    @media (max-width: 520px) {
      width: 98%;
      padding: 0 1%;
    }
  }

  /* Inverted navbar */
  &.inverted {
    background: var(--color);

    a {
      b,
      strong {
        background-color: var(--color-bg);
        border-color: var(--color-bg);
        color: var(--color);
      }
    }

    button {
      background-color: var(--color-bg);
      border-color: var(--color-bg);
      color: var(--color);
    }

    a {
      em,
      i {
        border-color: var(--color-bg);
        color: var(--color-bg);
      }
    }

    svg {
      path,
      polygon {
        fill: var(--color-bg);
      }
    }

    a {
      color: var(--color-bg);
      text-decoration-color: var(--color-bg);

      h1 {
        color: var(--color-bg);
      }
    }
  }
}

/* Nav Dropdown */

/* Typography */

code,
samp {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  color: var(--color-text);
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0 0.5rem;
}

details {
  margin: 1.3rem 0;

  summary {
    font-weight: bold;
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height);
}

mark {
  padding: 0.1rem;
}

ol li,
ul li {
  padding: 0.2rem 0;
}

p {
  margin: 0.75rem 0;
  padding: 0;
}

pre {
  margin: 1rem 0;
  max-width: var(--width-card-wide);
  padding: 1rem 0;

  code,
  samp {
    display: block;
    max-width: var(--width-card-wide);
    padding: 0.5rem 2rem;
    white-space: pre-wrap;
  }
}

small {
  color: var(--color-text-secondary);

  svg {
    path,
    polygon {
      fill: var(--color-text-secondary);
    }
  }
}

sup {
  background-color: var(--color);
  border-radius: var(--border-radius);
  color: var(--color-bg);
  font-size: xx-small;
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  position: relative;
  top: -2px;
}

/* Links */

a {
  svg {
    path,
    polygon {
      fill: var(--color);
    }
  }

  color: var(--color);
  display: inline-block;
  font-weight: bold;
  text-decoration-color: var(--color);
  text-decoration-style: solid;
  text-decoration-line: none;

  &:hover {
    filter: brightness(var(--hover-brightness));
    text-decoration-line: underline;
  }

  b,
  em,
  i,
  button,
  strong {
    border-radius: var(--border-radius);
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: var(--line-height);
    margin: 0.5rem 0;
    padding: 1rem 1.5rem;
  }
}

button {
  font-family: var(--font-family);

  &:hover {
    cursor: pointer;
    filter: brightness(var(--hover-brightness));
  }
}

a {
  b,
  strong {
    background-color: var(--color);
    border: 2px solid var(--color);
    color: var(--color-bg);
  }
}

button {
  background-color: var(--color);
  border: 2px solid var(--color);
  color: var(--color-bg);
}

a {
  em,
  i {
    border: 2px solid var(--color);
    border-radius: var(--border-radius);
    color: var(--color);
    display: inline-block;
    padding: 1rem 1.5rem;
  }
}

article aside a {
  color: var(--color);
}

figure {
  margin: 0;
  padding: 0;

  img {
    max-width: 100%;
  }

  figcaption {
    color: var(--color-text-secondary);
  }
}

button:disabled,
input:disabled {
  background: var(--color-bg-secondary);
  border-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

button[disabled]:hover {
  filter: none;
}

form {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: block;
  max-width: var(--width-card-wide);
  min-width: var(--width-card);
  padding: 1.5rem;
  text-align: var(--justify-normal);

  header {
    margin: 1rem 0;
    padding: 1rem 0;
  }
}

input,
label,
select,
textarea {
  display: block;
  font-size: inherit;
  max-width: var(--width-card-wide);
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline-block;
  }

  &[type="checkbox"] + label,
  &[type="radio"] + label {
    display: inline-block;
    font-weight: normal;
    position: relative;
    top: 1px;
  }

  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

select,
textarea {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-secondary);
}

label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

table {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  border-spacing: 0;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;

  td,
  th,
  tr {
    padding: 0.4rem 0.8rem;
    text-align: var(--justify-important);
  }

  thead {
    background-color: var(--color);
    border-collapse: collapse;
    border-radius: var(--border-radius);
    color: var(--color-bg);
    margin: 0;
    padding: 0;

    th {
      &:first-child {
        border-top-left-radius: var(--border-radius);
      }

      &:last-child {
        border-top-right-radius: var(--border-radius);
      }

      &:first-child {
        text-align: var(--justify-normal);
      }
    }
  }

  tr {
    td:first-child {
      text-align: var(--justify-normal);
    }

    &:nth-child(even) {
      background-color: var(--color-accent);
    }
  }
}

blockquote {
  display: block;
  font-size: x-large;
  line-height: var(--line-height);
  margin: 1rem auto;
  max-width: var(--width-card-medium);
  padding: 1.5rem 1rem;
  text-align: var(--justify-important);

  footer {
    color: var(--color-text-secondary);
    display: block;
    font-size: small;
    line-height: var(--line-height);
    padding: 1.5rem 0;
  }
}

/* Icon sizes */
.card-icon {
  font-size: 2.5em;
}

.logo-icon {
  font-size: 4em;
}

.splash-icon {
  font-size: 10em;
}

.full-card-icon {
  font-size: 14em;
}
