<nav class="fixed">
    <a href="/shops/caaso" class="logo">
      {%- include logos/caaso.svg class="logo-icon" -%}
      <h1>Loja CAASO</h1>
    </a>
    <ul>
      <li>
        <a href="/shops/caaso/cart" aria-label="Carrinho"><b>
          <span class="iconify nav-icon" data-icon="mdi:cart"></span>
          </b></a>
      </li>
      <li>
        <a href="/shops/caaso/profile" aria-label="Perfil"><i>
          <span class="iconify nav-icon" data-icon="mdi:account"></span>
        </i></a>
      </li>
    </ul>
</nav>
