---
layout: default
title: Cinco Bola
color-dark: #4d2364
color-light: #b88bdd
---

<header>
  <nav class="fixed">
      <a href="/" class="logo" aria-label="Cinco Bola">
        {%- include logos/cincobola.svg -%}
        <span class="title">Cinco Bola</span>
      </a>
    <ul>
      <li>
        <a
          {% if page.url == "/shops/" %} aria-current="page"{% endif %}
          href="/shops">
          <em>Lojas</em>
        </a>
      </li>
      <li>
        <a
          {% if page.url == "/console/" %} aria-current="page"{% endif %}
          href="/login">
          <strong>Console</strong>
        </a>
      </li>
    </ul>
  </nav>
</header>
<main>
  {{ content }}
</main>
<footer>
  {% include footer.html %}
</footer>
