---
layout: default
---

<header>
  <nav class="fixed">
    <a href="/console/{{ page.shop.slug }}" class="logo">
        {% if page.shop.slug %}{%- include logos/{{ page.shop.slug }}.svg -%}{% endif %}
        <span class="title">{{ page.shop.name }}</span> <small>Console</small>
      </a>
      <ul>
        <li>
          <a href="/shops/{{ page.shop.slug }}"><strong>Visualizar</strong></a>
        </li>
      </ul>
  </nav>
</header>
<main>
  {{ content }}
</main>
<footer>
  {% include footer.html %}
</footer>
