---
---
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="canonical" href="https://cincobola.misterio.me{{ page.url }}" />
    <meta name="theme-color" content="#9c5763" />
    <meta
      name="description"
      content="{% if page.description %}{{ page.description }}{% else %} {{ site.description }}{% endif %}"
    />
    {% if page.noindex == true %}
    <!-- Flag de não indexar, caso a página peça -->
    <meta name="robots" content="noindex" />
    {% endif %}
    <!-- Pre carregar estilos, fonte, e scripts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="preload"
      href="https://code.iconify.design/1/1.0.6/iconify.min.js"
      as="script"
    />
    <link rel="preload" href="/assets/styles/mvp.css" as="style" />
    <!-- Requisitar alguns assets nescessários antes da página -->
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=block"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/styles/mvp.css" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </head>
  <body class="{{- layout.colors -}}">
    {{ content }}
    {% if page.inverted-nav-on-scroll -%}
    <script>
      var navbar = document.querySelectorAll("nav.fixed")[0];
      navbar.classList.remove("inverted");
      var invertedNavOnScroll = function() {
        if (window.scrollY >= {{ page.inverted-nav-on-scroll }}) {
          navbar.classList.add("inverted");
        } else {
          navbar.classList.remove("inverted");
        }
      }
      window.addEventListener("scroll", invertedNavOnScroll);
    </script>
    {%- endif %}
    {% if page.show-logo-on-scroll -%}
    <script>
      var logo = document.querySelectorAll("nav .logo")[0];
      logo.style.visibility = "hidden";
      var showLogoOnScroll = function() {
        if (window.scrollY >= {{ page.show-logo-on-scroll }}) {
          logo.style.visibility = "visible";
        } else {
          logo.style.visibility = "hidden";
        }
      }
      window.addEventListener("scroll", showLogoOnScroll);
    </script>
    {%- endif %}
  </body>
</html>
