<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="canonical" href="https://cincobola.misterio.me{{ page.url }}" />
    <meta name="theme-color" content="#9c5763">
    <meta
      name="description"
      content="{% if page.description %}{{ page.description }}{% else %} {{ site.description }}{% endif %}"
    />
    {% if page.noindex == true %}
    <!-- Flag de não indexar, caso a página peça -->
    <meta name="robots" content="noindex">
    {% endif %}
    <!-- Pre carregar estilos, fonte, e scripts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preload" href="https://code.iconify.design/1/1.0.6/iconify.min.js" as="script"/>
    <link rel="preload" href="/assets/styles/mvp.css" as="style" />
    <!-- Requisitar assets nescessários ANTES da página carregar -->
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=block"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/styles/mvp.css" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
