---
layout: default
---

<header>
  <nav class="fixed">
    <a href="/shops/{{ page.shop.slug }}" class="logo" aria-label="{{ page.shop.name }}">
      {% if page.shop.slug %}{%- include logos/{{ page.shop.slug }}.svg -%}{% endif %}
      <span class="title">{{ page.shop.name }}</span>
    </a>
    <ul>
      <li>
        <a href="/shops/{{ page.shop.slug }}/cart" aria-label="Carrinho" title="Carrinho">
          <b><span class="iconify nav-icon" data-icon="mdi:cart"></span></b>
        </a>
      </li>
    </ul>
  </nav>
</header>
<main>{{ content }}</main>
<footer>{% include footer.html %}</footer>
