---
layout: shop
title: Carrinho
---

<header>
  <nav arialabel="breadcrumbs" class="breadcrumb">
    <ol>
      <li><a href="/shops/{{ page.shop.slug }}">Home</a></li>
      <li>
        <a href="/shops/{{ page.shop.slug }}/cart" aria-current="page"
          >Carrinho</a
        >
      </li>
    </ol>
  </nav>
</header>

<section class="cart">
  <header>
    <h1>Carrinho</h1>
  </header>

  {% for product in page.products %}
  <form method="get" action="#">
    <a
      href="/shops/{{ page.shop.slug }}/products/{{ product.slug }}"
      aria-label="{{ product.name }}"
    >
      <figure>
        <img alt="{{ product.name }}" src="{{ product.image }}" />
        <figcaption>
          <h2>{{ product.name }}</h2>
          <p class="price">{{ product.price }}</p>
          <p>{{ product.additional }}</p>
        </figcaption>
      </figure>
    </a>
    <div>
      <label for="amount-{{ product.slug }}">Unidades:</label>
      <input
        type="number"
        name="unidades"
        class="amount"
        id="amount-{{ product.slug }}"
        value="1"
        min="0"
        max="{% if product.available %}{{product.available}}{% else %}99{% endif %}"
      />
    </div>
    <button
      type="submit"
      class="update"
      aria-label="Atualizar quantidade"
      title="Atualizar quantidade"
    >
      <span class="iconify nav-icon" data-icon="mdi:check"></span>
    </button>
    <button
      type="submit"
      class="remove"
      aria-label="Remover do carrinho"
      title="Remover do carrinho"
      hidden
    >
      <span class="iconify nav-icon" data-icon="mdi:delete"></span>
    </button>
  </form>
  {% endfor %}
</section>

<hr />

<section>
  <form>
    <h2>Calcular frete</h2>
    <label for="cep">CEP:</label>
    <input
      id="cep"
      type="number"
      label="CEP"
      placeholder="12345678"
      maxlength="8"
      pattern="[0-9]{8}"
    />
    <button>Calcular</button>
  </form>

  <form class="summary">
    <div>
      <h3>Subtotal</h3>
      <p>R$ 38,40</p>
    </div>
    <div>
      <h3>Frete</h3>
      <p>R$ 12,00</p>
    </div>
    <hr />
    <div>
      <h3>Total</h3>
      <p>R$ 50,40</p>
    </div>
    <hr />
    <a href="/shops/{{ page.shop.slug }}"><strong>Voltar</strong> </a>
    <a href="/shops/{{ page.shop.slug }}/payment"><strong>Finalizar</strong></a>
  </form>
</section>
<script>
  const amountFields = document.querySelectorAll("#amount");
  amountFields.forEach((x) => {
    x.addEventListener("change", (event) => {
      const item = event.target.parentElement.parentElement;

      if (event.target.value == 0) {
        item.querySelector(".update").hidden = true;
        item.querySelector(".remove").hidden = false;
      } else {
        item.querySelector(".remove").hidden = true;
        item.querySelector(".update").hidden = false;
      }
    });
  });
</script>
