---
layout: shop
---

<section>
  <header style="padding-bottom: 0">
    <h1>Categorias</h1>
  </header>
  <section>
    <nav>
      <ol>
        {% for category in page.categories %}
        <li><a href="#{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
      </ol>
    </nav>
  </section>
</section>


{% for category in page.categories %}
<hr />

<section class="listing" id="{{ category.slug }}">
  <nav arialabel="breadcrumbs" class="breadcrumb">
    <ol>
      <li><a href="#">Categorias</a></li>
      <li><a href="#{{ category.slug }}" aria-current="page">{{ category.name }}</a></li>
    </ol>
  </nav>
  <header>
    <h2>{{ category.name }}</h2>
  </header>

  {% for product in category.products %}
  <a href="/shops/{{ page.shop.slug }}/products/{{ product.slug }}" title="{{ product.name }}">
    <aside class="product">
      <figure>
        <img
          alt="{{ product.name }}"
          src="{{ product.image }}"
        />
      </figure>
      <figcaption>
        <h3>{{ product.name }}</h3>
        {{ product.price }}
      </figcaption>
    </aside>
  </a>
  {% endfor %}
</section>
{% endfor %}
<hr />
<section>
  <a href="#">Voltar ao topo</a>
</section>
