---
layout: shop
title: Carrinho
---

<header>
  <nav aria-label="breadcrumbs" class="breadcrumb">
    <ol>
      <li><a href="/shops/{{ page.shop.slug }}">Home</a></li>
      <li>
        <a href="/shops/{{ page.shop.slug }}/cart" aria-current="page"
          >Carrinho</a
        >
      </li>
    </ol>
  </nav>
</header>

<section class="cart">
  <header>
    <h1>Carrinho</h1>
  </header>

  {% for product in page.products %}
  <form class="product" method="get" action="#">
    <a
      href="/shops/{{ page.shop.slug }}/products/{{ product.slug }}"
      aria-label="{{ product.name }}"
    >
      <figure>
        <img alt="{{ product.name }}" src="{{ product.image }}" />
        <figcaption>
          <h2>{{ product.name }}</h2>
          <p class="price">{{ product.price }}</p>
          <p>{{ product.additional }}</p>
        </figcaption>
      </figure>
    </a>
    <div>
      <label for="amount-{{ product.slug }}">Unidades:</label>
      <input
        type="number"
        class="amount"
        id="amount-{{ product.slug }}"
        value="{{ product.amount }}"
        min="0"
        max="{% if product.available %}{{product.available}}{% else %}99{% endif %}"
      />
    </div>
    <button
      type="submit"
      class="update"
      aria-label="Atualizar quantidade"
      title="Atualizar quantidade"
    >
      <span class="iconify nav-icon" data-icon="mdi:check"></span>
    </button>
    <button
      type="submit"
      class="remove"
      aria-label="Remover do carrinho"
      title="Remover do carrinho"
      hidden
    >
      <span class="iconify nav-icon" data-icon="mdi:delete"></span>
    </button>
  </form>
  {% endfor %}

  <hr />

  <form onsubmit="showShipping();return false">
    <h2>Calcular frete</h2>
    <label for="cep">CEP:</label>
    <input
      id="cep"
      type="text"
      inputmode="numeric"
      placeholder="12345678"
      maxlength="8"
      pattern="[0-9]{8}"
    />
    <button>Calcular</button>
  </form>

  <form
    method="get"
    action="/shops/{{ page.shop.slug }}/payment"
    class="summary"
  >
    <div>
      <h3>Subtotal</h3>
      <p>{{ page.subtotal }}</p>
    </div>
    <div>
      <h3>Frete</h3>
      <p class="shipping" hidden>{{ page.shipping }}</p>
    </div>
    <hr />
    <div>
      <h3>Total</h3>
      <p class="without-shipping">{{ page.subtotal }}</p>
      <p class="with-shipping" hidden>{{ page.total }}</p>
    </div>
    <hr />
    <a href="/shops/{{ page.shop.slug }}"><em>Voltar</em></a>
    <button class="purchase" disabled>Finalizar</button>
  </form>
</section>
<script>
  // Mostrar frete ao clicar calcular
  function showShipping() {
    document.querySelector(".purchase").disabled = false;
    document.querySelector(".shipping").hidden = false;
    document.querySelector(".with-shipping").hidden = false;
    document.querySelector(".without-shipping").hidden = true;
  }
  // Mostrar icone de lixeira caso unidades = 0
  const amountFields = document.querySelectorAll(".amount");
  amountFields.forEach((x) => {
    x.addEventListener("change", (event) => {
      const item = event.target.parentElement.parentElement;

      if (event.target.value == 0) {
        item.querySelector(".update").hidden = true;
        item.querySelector(".remove").hidden = false;
      } else {
        item.querySelector(".remove").hidden = true;
        item.querySelector(".update").hidden = false;
      }
    });
  });
</script>
