---
layout: shop
show-logo-on-scroll: 200
inverted-nav-on-scroll: 200
---

<header>
  <nav aria-label="breadcrumbs" class="breadcrumb">
    <ol>
      <li>
        <a href="/shops/{{ page.shop.slug }}" aria-current="page">Home</a>
      </li>
    </ol>
  </nav>
</header>

<section>
  <header>
    <h1>Categorias</h1>
  </header>
  <nav>
    <ol>
      {% for category in page.categories %}
      <li><a href="#{{ category.slug }}">{{ category.name }}</a></li>
      {% endfor %}
    </ol>
  </nav>
  <footer>
  </footer>
</section>

{% for category in page.categories %}
<hr />

<section class="listing" id="{{ category.slug }}">
  <header>
    <h2>{{ category.name }}</h2>
  </header>

  {% for product in category.products %}
  <a
    href="/shops/{{ page.shop.slug }}/products/{{ product.slug }}"
    title="{{ product.name }}"
  >
    <aside class="product">
      <figure>
        <img alt="{{ product.name }}" src="{{ product.image }}" />
        <figcaption>
          <h3>{{ product.name }}</h3>
          {{ product.price }}
        </figcaption>
      </figure>
    </aside>
  </a>
  {% endfor %}
  <footer>
  </footer>
</section>
{% endfor %}
<hr />
<nav><a href="#">Voltar ao topo</a></nav>
